---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Blog posts tagged “{{ tag }}”"
---

{% set title = "Blog posts tagged `" ~ tag ~ "`"%}
{% include "components/pagetitle.njk" %}

<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        {% set postslist = collections[tag] %}
        {% include "components/postslist.njk" %}

        {% include "components/all-blogs-nav.njk" %}
      </div>
    </div>
  </div>
</div>