.blog-grids {
  overflow: hidden;
  margin: 0 -15px;
  .grid {
    background-color: #fff;
    width: calc(33.33% - 30px);
    float: left;
    padding: 15px;
    margin: 20px 15px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}


.entry-media img {
  border-radius: 10px;
  width: 100%;
  max-height: 188px;
}

.entry-body {
  padding: 27px 10px;
  .cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
  }
  h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.30em;
    margin: 3px 0 0.73em;
    a {
      color: #41516a;
      :hover {
        color: #6220d9;
        text-decoration: none;
      }
    }
  }
  p {
    margin-bottom: 2em;
    color: #90949a;
    line-height: 1.8em;
  }
}

.read-more-date {
  position: relative;
  a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-size: 1.06667rem;
    font-weight: 600;
    color: #41516a;
    text-transform: uppercase;
  }
  .date {
    position: absolute;
    right: 0;
    color: #90949a;
  }
}