{# <section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <h2 class="page-section-heading text-center text-uppercase text-white">Hire Me</h2>

    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas eu elit vitae vehicula. Suspendisse vitae enim et lectus maximus scelerisque ac sit amet neque. Ut ut nunc turpis. Donec vitae dui nec est auctor eleifend quis sed purus. Nulla facilisi. Nulla tristique purus erat, quis tempus magna elementum id.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas eu elit vitae vehicula. Suspendisse vitae enim et lectus maximus scelerisque ac sit amet neque. Ut ut nunc turpis. Donec vitae dui nec est auctor eleifend quis sed purus. Nulla facilisi. Nulla tristique purus erat, quis tempus magna elementum id.</p>
      </div>
    </div>

    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="/contact/">
        <i class="fas fa-file-invoice-dollar mr-2"></i>
          Get in touch!
        </a>
    </div>

  </div>
</section> #}