<header class="masthead2 bg-white text-secondary text-center">
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <h1>{{ title }}</h1>
      </div>
      <div class="divider-custom-line"></div>
    </div>
</header>