<section class="page-section portfolio" id="portfolio">
  <div class="container">

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <div class="row">
      {% for work in worklist | reverse %}
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto">
            <a href="{{ work.url | url }}">
              <img class="img-fluid" src="/static/img/{{ work.data.thumbnail }}" alt="{{ work.data.title }}" title="{{ work.data.title }}"/>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>