<div class="container">
  <div class="row">
    <div class="col col-xs-12">
      <div class="blog-grids">

        {% for postsBatch in postslist | reverse | batch(3) %}
          {% for post in postsBatch %}
            <div class="grid">
              {# <div class="entry-media">
              <img src="http://csshint.com/wp-content/uploads/2018/04/button-effect-6-810x612.jpg" alt="">
            </div> #}
              <div class="entry-body">
                {% if post.data.tags %}
                  <p class="text-right">| 
                    {% for tag in post.data.tags %}
                      {%- if tag != "post" -%}
                        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a> |
                      {%- endif -%}
                    {% endfor %}
                  </p>
                {% endif %}
                <h3>
                  <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                      {{ post.data.title }}
                    {% else %}
                    Untitled
                  {% endif %}
                  </a>
                </h3>
                {% if post.data.summary %}
                  <p>
                    {{ post.data.summary }}
                  </p>
                {% endif %}
                <div class="read-more-date">
                  <a href="{{ post.url | url }}">Read More</a>
                  <span class="date">{{ post.date | readableDate }}</span>
                </div>
              </div>
            </div>
          {% endfor %}
          <p>&nbsp;</p>
        {% endfor %}

      </div>
    </div>
  </div>
</div>