---
layout: layouts/base.njk
section: home
---

<header class="masthead2 bg-white text-secondary text-center">
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <h1>Portfolio</h1>
      </div>
      <div class="divider-custom-line"></div>
    </div>
</header>

{% set worklist = collections.work %}
{% include "components/portfolio-grid.njk" %}

{# <div class="container d-flex align-items-center flex-column">
  <div class="col-lg-12">
    <div class="wrapper">
      <div class="content-main">
        {{ layoutContent | safe }}
      </div>
    </div>
  </div>
</div> #}