---
layout: layouts/base.njk
section: post
---

{% include "components/pagetitle.njk" %}

<div class="container d-flex align-items-center flex-column">
  <div class="col-lg-12">
    <div class="wrapper">
      <div class="content-main">

        <article>
          <p class="text-right">
            <strong><time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by {{ metadata.author.name }}</strong>
          </p>

          {{ layoutContent | safe }}

          {% if tags %}
            <p>&nbsp;</p>
            <p>Tagged: | 
              {% for tag in tags %}
                {%- if tag != "post" -%}
                  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                  <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a> |
                {%- endif -%}
              {% endfor %}
            </p>
          {% endif %}

        </article>

        {% include "components/all-blogs-nav.njk" %}
        <p>&nbsp;</p>

      </div>
    </div>
  </div>
</div>