---
layout: layouts/base.njk
section: work
---

{% set title %}{{ title }} ({{ year }}){% endset %}
{% include "components/pagetitle.njk" %}

<div class="container d-flex align-items-center flex-column">
  <div class="col-lg-12">
    <div class="wrapper">
      <div class="content-main">
        {% if headerimage %}
          <div class="text-center">
            <img class="img-fluid" src="/static/img/{{ headerimage }}" alt="{{ title }}" title="{{ title }} - {{ subtitle }}" />
          </div>
        {% endif %}
        <article>
          {{ layoutContent | safe }}
        </article>
      </div>
    </div>
  </div>
</div>


{% set worklist = collections.work %}
{% include "components/portfolio-grid.njk" %}